In [2]:
import pandas as pd

In [3]:
dfYellowTaxiData=pd.read_parquet('C:\\NYTaxi2021\\Yellow', engine='fastparquet')

In [ ]:
'VendorID','store_and_fwd_flag','RatecodeID','PULocationID','DOLocationID',
                                      'passenger_count','extra','mta_tax','tolls_amount','ehail_fee','improvement_surcharge',
                                     'total_amount','payment_type','trip_type','congestion_surcharge'

In [4]:
dfYellowTaxiData.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.1,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.2,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.7,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN

In [5]:
dfGreenTaxiData=pd.read_parquet('C:\\NYTaxi2021\\Green', engine='fastparquet')

In [6]:
dfGreenTaxiData.head(3)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,NaN,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1.0,1.0,0.00

In [7]:
dfGreenTaxiData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068755 entries, 0 to 1068754
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1068755 non-null  int64
 1   lpep_pickup_datetime   1068755 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  1068755 non-null  datetime64[ns]
 3   store_and_fwd_flag     656321 non-null   object
 4   RatecodeID             656321 non-null   float64
 5   PULocationID           1068755 non-null  int64
 6   DOLocationID           1068755 non-null  int64
 7   passenger_count        656321 non-null   float64
 8   trip_distance          1068755 non-null  float64
 9   fare_amount            1068755 non-null  float64
 10  extra                  1068755 non-null  float64
 11  mta_tax                1068755 non-null  float64
 12  tip_amount             1068755 non-null  float64
 13  tolls_amount           1068755 non-null  float64
 14  ehail_fee              0 non-null        float64
 15  improvement_surcharge  1068755 non-null  float64
 16  total_amount           1068755 non-null  float64
 17  payment_type           656321 non-null   float64
 18  trip_type              656321 non-null   float64
 19  congestion_surcharge   656321 non-null   float64
dtypes: datetime64[ns](2), float64(14), int64(3), object(1)
memory usage: 163.1+ MB

In [8]:
dfFilteredGreen=dfGreenTaxiData[dfGreenTaxiData['lpep_pickup_datetime']>= '2021-01-01 00:00:00']

In [9]:
dfFilteredYellow=dfYellowTaxiData[dfYellowTaxiData['tpep_pickup_datetime']>= '2021-01-01 00:00:00']

In [10]:
len(dfGreenTaxiData.index)-len(dfFilteredGreen.index)

30

In [11]:
len(dfYellowTaxiData.index)-len(dfFilteredYellow.index)

321

In [26]:
dfFilteredYellow.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [27]:
dfFilteredGreen.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [23]:
#Drop unnecessary columns
dfCleanedYellow=dfFilteredYellow.drop(['VendorID','store_and_fwd_flag','RatecodeID','PULocationID','DOLocationID',
                                      'passenger_count','extra','mta_tax','tolls_amount','improvement_surcharge',
                                     'total_amount','payment_type','congestion_surcharge','airport_fee'],axis=1)

In [19]:
#Drop unnecessary columns
dfCleanedGreen=dfFilteredGreen.drop(['VendorID','store_and_fwd_flag','RatecodeID','PULocationID','DOLocationID',
                                      'passenger_count','extra','mta_tax','tolls_amount','ehail_fee','improvement_surcharge',
                                     'total_amount','payment_type','trip_type','congestion_surcharge'],axis=1)

In [21]:
dfCleanedGreen.head(3)

,lpep_pickup_datetime,lpep_dropoff_datetime,trip_distance,fare_amount,tip_amount
0,2021-01-01 00:15:56,2021-01-01 00:19:52,1.01,5.5,0.00
1,2021-01-01 00:25:59,2021-01-01 00:34:44,2.53,10.0,2.81
2,2021-01-01 00:45:57,2021-01-01 00:51:55,1.12,6.0,1.00

In [24]:
dfCleanedYellow.head(3)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,tip_amount
0,2021-01-01 00:30:10,2021-01-01 00:36:12,2.1,8.0,0.00
1,2021-01-01 00:51:20,2021-01-01 00:52:19,0.2,3.0,0.00
2,2021-01-01 00:43:30,2021-01-01 01:11:06,14.7,42.0,8.65

In [12]:
dfCleanedGreen.to_parquet('GreenTaxiDataCleaned.parquet')

In [13]:
dfCleanedYellow.to_parquet('YellowTaxiDataCleaned.parquet')